{
  "extends": ["next", "next/core-web-vitals", "prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "camelcase": "warn",
    "@next/next/no-img-element": "off"
  }
}
